<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/article-layout.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/article-snippets.css">
    <title>Gatopedia</title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>


    <%- include('partials/header.ejs') %>

    <div id="Container">

        <%- include('partials/side-menu.ejs') %>

        <div id="Middle">
            <div id="Welcome-Text">
                Gatopedia is a perfect place for cat enthusiasts to share cool cat facts, cute cat pics or simply to express their love for our
                feline companions with other users. Register (or sign in) to Gatopedia, create and edit articles and become a member of a growing
                gato-community. Have fun!
            </div>
            <div id="Cats-Panel">
                <img src="/img/cute-cat1.jpg" alt="cute cat 1">
                <img src="/img/cute-cat2.jpg" alt="cute cat 2">
                <img src="/img/cute-cat3.jpg" alt="cute cat 3">
                <img src="/img/cute-cat4.jpg" alt="cute cat 4">
            </div>

            <% if (newest_articles) { %>
                <h2>Recently edited articles:</h2>

                <% for (let article of newest_articles) { %>

                    <a href="/article/url/<%= article.url %>" class="article-link">
                        <div class="article-box">
                            <h3><%= article.title %></h3>
                            recently edited by: <%= article.lastAuthor %> at: <%= article.lastEdited %><br>
                            Views: <%= article.views %>, Edits: <%= article.edits %>
                        </div>
                    </a>
                <% } %>
            <% } else { %>
                <h2>There are no articles yet :<</h2>
            <% } %>
            


        </div>
        <div id="Right">
            <h2>Did you know...</h2>
            <img src="/img/curious-cat.webp" alt="curious cat">
            <h2>... that "gato" means "cat" in Spanish? </h2>
            Therefore Gatopedia means simply "cat-pedia", which makes perfect sense I guess.
        </div>

    </div>

<%- include('partials/footer.ejs') %>



</body>
</html>