<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/article-layout.css">
    <link rel="stylesheet" href="/styles/userPage-layout.css">
    <title><%= user.nickname %></title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>


    <%- include('../partials/header.ejs') %>

    <div id="Container">

        <div id="Left">
            <a href="/"><div class="nav-option">Main Page</div></a>
            <a href="/"><div class="nav-option">About page author</div></a>
            <a href="/"><div class="nav-option">Users</div></a>
            <a href="/"><div class="nav-option">Most popular</div></a>
            <a href="/"><div class="nav-option">Random article</div></a>
        </div>
        <div id="Middle">
            <a href="/article/new" id="Article-Add"> + Add a new article</a>
            <h1>Recently edited articles:</h1>
            <div class="article-snippet">
                <h3>Some article</h3>
                article snippet:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec urna nec purus consectetur hendrerit. Integer rhoncus...
            </div>
            <div class="article-snippet">
                <h3>Some article</h3>
                article snippet:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec urna nec purus consectetur hendrerit. Integer rhoncus...
            </div>
            <div class="article-snippet">
                <h3>Some article</h3>
                article snippet:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec urna nec purus consectetur hendrerit. Integer rhoncus...
            </div>
            <div class="article-snippet">
                <h3>Some article</h3>
                article snippet:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec urna nec purus consectetur hendrerit. Integer rhoncus...
            </div>
            <div class="article-snippet">
                <h3>Some article</h3>
                article snippet:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec urna nec purus consectetur hendrerit. Integer rhoncus...
            </div>
            <div class="article-snippet">
                <h3>Some article</h3>
                article snippet:  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec urna nec purus consectetur hendrerit. Integer rhoncus...
            </div>
        </div>
        <div id="Right">
            <h3><%= user.nickname %></h3>
            <% if (loggedUser && loggedUser.id == user.id) { %>
                <a href="/users/edit">Edit account</a>
            <% } %>
            <% if (user.avatarPath) { %>
                <img id="Avatar" src="<%= user.avatarPath %>">
            <% } else { %>
                <img id="Avatar" src="/img/default-avatar.png">
                <% } %>

            <p id="Description"><%= user.description %></p>
        </div>

    </div>

<%- include('../partials/footer.ejs') %>



</body>
</html>