<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/article-layout.css">
    <link rel="stylesheet" href="/styles/userPage-layout.css">
    <title><%= user.nickname %></title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>


    <%- include('../partials/header.ejs') %>

    <div id="Container">

        <%- include('../partials/side-menu.ejs') %>

        <div id="Middle">
            <% if (loggedUser && loggedUser.id == user.id) { %>
                <a href="/article/new" id="Article-Add"> + Add a new article</a>
            <% } %>

            <% if (article_titles && article_urls && article_time) { %>
            <h1>Recently edited articles:</h1>

            <% for (let i = 0; i < article_titles.length; i++) { %>
                <a class="article-link" href="/article/url/<%= article_urls[i] %>"><div class="article-snippet"> 
                    <h3><%= article_titles[i] %></h3>
                    <% let x = new Date(article_time[i]) %>
                    Edited by <%= user.nickname %> at <%= x.toString() %>
                </div></a>
            <% } %>
            <% } else { %>
                <h1>There are no articles yet posted by this user :&lt;</h1>
            <% } %>
        </div>
        <div id="Right">
            <h3><%= user.nickname %></h3>
            <% if (loggedUser && loggedUser.id == user.id) { %>
                <a href="/users/edit">Edit account</a>
            <% } %>
            <% if (user.avatarPath) { %>
                <img id="Avatar" src="<%= user.avatarPath %>">
            <% } else { %>
                <img id="Avatar" src="/img/default-avatar.png">
                <% } %>

            <p id="Description"><%= user.description %></p>
        </div>

    </div>

<%- include('../partials/footer.ejs') %>



</body>
</html>