<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/article-layout.css">
    <link rel="stylesheet" href="/styles/userEdit-layout.css">
    <title>Edit your account</title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>


    <%- include('../partials/header.ejs') %>

    <div id="Container">


        <div id="Middle">
            <h3>Edit your accout</h3>
            <hr>
            <h5>E-mail:</h5>

            <div id="Email" class="edit-option">
                <div id="EmailErrorBox" class="error-box"></div>
                <span><%= loggedUser.email %></span>
                <img class="edit-icon" src="/img/icon-edit.png" alt="edit icon" onclick="inputOn(this.parentElement)">
                <input type="email" value="<%= loggedUser.email %>" required>
                <button id="SaveEmail">Save</button>
                <button onclick="inputOff(this.parentElement)">Cancel</button>
            </div>

            <h5>Nickname:</h5>
            <div id="Nickname" class="edit-option">
                <div id="NicknameErrorBox" class="error-box"></div>
                <span><%= loggedUser.nickname %></span>
                <img class="edit-icon" src="/img/icon-edit.png" alt="edit icon" onclick="inputOn(this.parentElement)">
                <input type="text" value="<%= loggedUser.nickname %>" required>
                <button id="SaveNickname">Save</button>
                <button onclick="inputOff(this.parentElement)">Cancel</button>
            </div>

            <h5>Avatar:</h5>
            <div id="Avatar" class="edit-option">
                <div id="AvatarErrorBox" class="error-box"></div>
                <span></span>
                <% if (loggedUser.avatarPath) { %>
                    <img id="Avatar" src="<%= loggedUser.avatarPath %>" alt="users avatar">
                <% } else { %>
                    <img id="Avatar" src="/img/default-avatar.png" alt="users avatar">
                    <% } %>
                <img class="edit-icon" src="/img/icon-edit.png" alt="edit icon" onclick="inputOn(this.parentElement)">
                <form id="AvatarForm" action="post" enctype="multipart/form-data" action="/upload">
                    <input type="file" required>
                    <button id="SaveAvatar">Save</button>
                </form>

                <button onclick="inputOff(this.parentElement)">Cancel</button>
            </div>


            <h5>Description:</h5>
            <div id="Description" class="edit-option">
                <div id="DescriptionErrorBox" class="error-box"></div>
                <span><%= loggedUser.description %></span>
                <img class="edit-icon" src="/img/icon-edit.png" alt="edit icon" onclick="inputOn(this.parentElement)">
                <textarea oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'><%= loggedUser.description %></textarea>
                <button id="SaveDescription">Save</button>
                <button onclick="inputOff(this.parentElement)">Cancel</button>
            </div>

            <h5>Change password:<img class="edit-icon" src="/img/icon-edit.png" alt="edit icon" onclick="passwordInputOn()" id="Edit-Icon-Password"></h5>
            <div id="Password" class="edit-option">
                <div id="PasswordErrorBox" class="error-box"></div><br>
                <label for="currentPassword">Current Password: </label> <br>
                <input type="password" name="currentPassword" id="CurrentPassword" required> <br>
                <label for="newPassword">New Password: </label> <br>
                <input type="password" name="newPassword" id="NewPassword" required> <br>
                <label for="newPasswordAgain">New Password Again: </label> <br>
                <input type="password" name="newPasswordAgain" id="NewPasswordAgain" required> <br>
                <button id="SavePassword">Change password</button>
                <button onclick="passwordInputOff()">Cancel</button>
            </div>


            <button id="Delete-User-Button">
                Delete user
            </button>


           
        </div>

        <script src="/scripts/userEdit.js" onload="passwordInputOff()"></script>


    </div>

<%- include('../partials/footer.ejs') %>


</body>
</html>