<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/article-layout.css">
    <link rel="stylesheet" href="/styles/article-edit-layout.css">
    <title><%= article.title %></title>
    <link rel="icon" type="image/x-icon" href="/img/icon-paw.png">
</head>
<body>


    <%- include('../partials/header.ejs') %>

    <div id="Container">

        <%- include('../partials/side-menu.ejs') %>
        <div id="Middle">

            <h2>
                <%= article.title %>
            </h2>
            <hr>
            <% if(loggedUser) { %>
                <h4><a href="/article/url/<%= article.url %>/edit">Edit <img class="edit-icon" src="/img/icon-edit.png" alt="edit icon"></a></h4>
            <% } %>
            <h6>Last edited <%= article.lastEdited %> by <a href="/users/profile/<%= article.lastAuthor %>"><%= article.lastAuthor %></a></h6>

            <div id="editorjs"></div>

        </div>
        <div id="Right">

        </div>

    </div>

<%- include('../partials/footer.ejs') %>
    <!-- Those script tags load necessary Editor.js modules -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@2.2.2/dist/table.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@2.7.0/dist/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>

    <script src="/scripts/articleView.js" defer></script>

</body>
</html>